<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Login</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css"/>

</head>
<body>
  <div class="main-login">
    <div class="left-login">
        <img src="../static/Astronauta.svg" alt="Astronauta animation">
    </div>
    <div class="right-login">
        <div class="card-login">
            
            <h1>Login</h1>

            <form action="/acessoCliente" method="post">
                <div class="textfield">
                    <input type="text" name="usuario" placeholder="Usuário">
                <div class="textfield">
                    <input type="password" name="senha" placeholder="Senha">
                </div>  
                <!--<a href="main-page.html" class="login-link">-->
                <button class="btn-login" id="button-login" type="submit">Entrar
                <!--</a>-->
                </button>
            </form>
            
            
        </div>
    </div>
  </div>

  <script src="server.js"></script>
 
</body>
</html>
</body>
</html>